parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\<" between \(array\|float\|int\) and int\<21, max\> results in an error\.$#'
			identifier: smaller.invalid
			count: 2
			path: src/Client.php

		-
			message: '#^Method Joomla\\OAuth2\\Client\:\:query\(\) should return Joomla\\Http\\Response but returns false\.$#'
			identifier: return.type
			count: 1
			path: src/Client.php
